body, html {
    background-color: #4f5050;
}

.window {
    margin: auto auto;
    background-color: whitesmoke;
    border: 1px solid;
    padding: 20px;
    border-radius: 25px;
    width: 900px;
}

.text_center {
    text-align: center;
}