<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</head>

<body>
<img src="{{ url_for('static', filename='img/Flask-Imp-Small.png') }}" alt="logo">
{% include "includes/menu.html" %}
{% block global %}

{% endblock %}
{% include "includes/footer.html" %}
</body>

</html>
