{% extends extend %}

{% block _title %}
    Flask-BigApp - Auth Example
{% endblock %}

{% block _container %}
    <h2>Auth Example</h2>
    <p>The Auth class contains some userful methods for dealing with username or email address validation and password generation</p>
    <p><strong>Examples</strong></p>
    {% for key, value in examples.items() %}
        {% if key == "Info" %}
            <p> > {{ value }}</p>
        {% else %}
            <p>{{ key }} = {{ value }}</p>
        {% endif %}

    {% endfor %}
{% endblock %}
