{% extends extend %}

{% block _title %}
    System | Endpoints
{% endblock %}

{% block _container %}
    <table>
        <thead>
        <tr>
            <th>Endpoint</th>
            <th>URL</th>
        </tr>
        </thead>
        <tbody>
        {% for key, value in endpoints.items() %}
            <tr>
                <td>{{ key }}</td>
                <td>{{ value }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block _footer %}
    {% include footer %}
{% endblock %}