{# ------------------

Submit button:

{{ button.submit(name="name", value="button_text", class="class") }}

#}
{% macro submit(div=True, name="", class="", value="", disabled=False) %}
    {% if div %}
    <div class="form-element">
    {% endif %}
        <input type="submit"
               name="{{ name }}"
               id="{{ name }}"
               class="{{ class }}"
               value="{{ value }}"
               {% if disabled %}
               disabled
               {% endif %}
        />
    {% if div %}
    </div>
    {% endif %}
{% endmacro %}


{# ------------------ #}

{# ------------------

Submit button link:

{{ button.submit_link(name="name_name", label="Name Name", button_type="button-primary", link="http://www.go.com/", onclick="") }}

#}
{% macro submit_link(div=True, label="", name="", button_type="", link="", onclick="") %}
    {% if div %}
    <div class="form-element">
    {% endif %}
        <a class="{{ button_type }}" {% if link != "" %} href="{{ link }}" {% endif %} id="{{ name }}" onclick={{ onclick }}>
            {{ label }}
        </a>
    {% if div %}
    </div>
    {% endif %}
{% endmacro %}
{# ------------------ #}