{# ------------------

Check box:

{{ checkbox.checkbox(label="label", name="name", checked="True/False") }}

#}

{% macro checkbox(
name="",
label="",
checked=False
) %}

    <div class="form-element">
        <label for="{{ name }}" class="checkbox-container">{{ label }}
            <input type="checkbox"
                   name="{{ name }}"
                   id="{{ name }}"
                   {%- if checked -%}checked
                   {%- endif -%}
            />
            <span class="checkmark"></span>
        </label>
    </div>
{% endmacro %}

{# ------------------ #}
