<a href="{{ url_for("example.index") }}"> Index </a> -
<a href="{{ url_for("example.app_models") }}"> App Models </a> -
<a href="{{ url_for("example.app_url_map") }}"> App URL Map </a> -
<a href="{{ url_for("example.auth_example") }}"> Auth Example </a> -
<a href="{{ url_for("example.database_example") }}"> Database Example </a> -
<a href="{{ url_for("example.create_all_models") }}"> Create All Models </a> -
<a href="{{ url_for("example.account_dashboard_fail") }}"> Not Logged In Test </a> -
<a href="{{ url_for("example.login_redirect") }}"> Login Redirect Test </a> -
<a href="{{ url_for("example.permission_redirect") }}"> Permission Required Test </a> -
<a href="{{ url_for("example.not_logged_in") }}"> Not Logged In Page </a> -
<a href="{{ url_for("example.already_logged_in") }}"> Already Logged In Page </a> -
<a href="{{ url_for("example.home_page") }}"> Structure Home Page </a>