<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title|title }} | Flask-Imp</title>
    <link rel="stylesheet" href="static/water.css">
    <link rel="stylesheet" href="static/pygments.emacs-dull.css">
    <link rel="apple-touch-icon" sizes="180x180" href="static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/favicon-16x16.png">
    <link rel="manifest" href="static/site.webmanifest">
    <link rel="mask-icon" href="static/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>
<body>

{% include "__menu__.html" %}

<section>
    <h1 style="font-size: 2.6rem; margin: 0;">{{ title }}</h1>
    {{ content|safe }}
</section>

</body>
</html>