aniso8601==9.0.1
attrs==21.4.0
bleach==5.0.0
build==0.7.0
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.4
commonmark==0.9.1
docutils==0.18.1
emoji==1.7.0
Flask==2.0.3
flask-restx==0.5.1
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.0.0
greenlet==1.1.2
gunicorn==20.1.0
idna==3.3
importlib-metadata==4.11.3
importlib-resources==5.4.0
itsdangerous==2.1.1
Jinja2==3.0.3
jsonschema==4.4.0
keyring==23.5.0
MarkupSafe==2.1.0
packaging==21.3
pep517==0.12.0
pkginfo==1.8.2
Pygments==2.12.0
pyparsing==3.0.9
pyrsistent==0.18.1
pytz==2021.3
readme-renderer==35.0
requests==2.27.1
requests-toolbelt==0.9.1
rfc3986==2.0.0
rich==12.4.1
six==1.16.0
SQLAlchemy==1.4.32
toml==0.10.2
tomli==2.0.1
twine==4.0.0
typing-extensions==4.2.0
urllib3==1.26.8
webencodings==0.5.1
Werkzeug==2.0.3
WTForms==3.0.1
zipp==3.7.0
