{% extends extend %}
{% import 'macros/forms/input.jinja' as input %}
{% import 'macros/forms/button.jinja' as button %}

{% block _title %}
    System | Elements
{% endblock %}

{% block _global %}
    <div class="login-box">
        <div class="login-box-header">
            <span>Login</span>

            <img src="{{ url_for('structure_img', structure=structure, filename='Flask-Launchpad.png') }}"
                 height="80px"
                 style="padding: 10px">

        </div>
        <form method="post">
            <div class="form-container">
                <fieldset>
                    {{ input.input(
                    type="text",
                label="Username",
                name="username",
                class="",
                placeholder="Username",
                required=True,
                value="",
                autocomplete=False,
                read_only=False,
                disabled=False
                )|deco }}

                    {{ input.input(
                    type="password",
                label="Password",
                name="password",
                class="",
                placeholder="**********",
                required=True,
                value="",
                autocomplete=False,
                read_only=False,
                disabled=False
                )|deco }}
                    {{ button.submit(name="login", value="Login", class="button-100") }}
                </fieldset>
            </div>
        </form>
        <span style="display: block; text-align: center; padding: 10px">{{ "Flask-Launchpad"|version }}</span>
    </div>
{% endblock %}

{% block _container %}

{% endblock %}
