{% extends extend %}
{% import 'macros/forms/input.jinja' as input %}
{% import 'macros/forms/button.jinja' as button %}
{% import 'macros/forms/select.jinja' as select %}

{% block _title %}
    Administrator | Users
{% endblock %}

{% block _container %}
        <form method="post" class="no-margin">
        <div class="form-container-inline">

            {{ input.input(
div=True,
type="text",
label="Username",
name="username",
class="",
placeholder="",
required=True,
value=user.username,
autocomplete=False,
read_only=False,
disabled=False
)|deco }}

            {{ button.submit(div=True, name="update_user", value="Upadte Username") }}

        </div>
    </form>

    <form method="post" class="no-margin">
        <div class="form-container-inline">

            {{ input.input(
div=True,
type="password",
label="Current Password",
name="current_password",
class="",
placeholder="",
required=False,
value="",
autocomplete=False,
read_only=False,
disabled=False
)|deco }}

            {{ input.input(
div=True,
type="password",
label="New Password",
name="new_password",
class="",
placeholder="",
required=False,
value="",
autocomplete=False,
read_only=False,
disabled=False
)|deco }}
            {{ button.submit(div=True, name="update_password", value="Change Password", class="button-100") }}

        </div>
    </form>

{% endblock %}

{% block _footer %}

{% endblock %}