<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="'width=device-width, initial-scale=1'">
    <title>Flask-Imp</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🧚</text></svg>">
    <link rel="stylesheet" href="{{ url_for('nested.static', filename='css/water.css') }}">
    <script defer src="{{ url_for('nested.static', filename='js/main.js') }}"></script>

    <script>
        // inline script
    </script>

</head>

<body>
{% include 'nested/includes/header.html' %}
{% block content %}{% endblock %}
{% include 'nested/includes/footer.html' %}
</body>

</html>
