<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Administrator{% if title %}| {{ title }}{% endif %}</title>
    <link rel="stylesheet" href="{{ url_for('structure_css', structure=structure, filename='milligram.css') }}">
    <link rel="stylesheet" href="{{ url_for('structure_css', structure=structure, filename='normalize.css') }}">
</head>

<body>
{% block content %}
    Template Not Loading.
{% endblock content %}

<script src="{{ url_for('structure_js', structure=structure, filename='main.js') }}"></script>
</body>
</html>
