{# ------------------

Select field dumb:

{{ input_select_dumb(label="label", name="name", options=options) }}

Set options like (this is done on the template page, just before calling the macro):

{% set options = {
"key": "value",
2: "2",
"3": 3,
} %}

#}

{% macro input_select_dumb(
name="",
label="",
class="",
options=None,
selected=None
) %}
    <div class="form-group">
        {% if options == None %}
            {% set options = {} %}
        {% endif %}

        {% if label != '' %}
            <label for="{{ name }}">{{ label }}</label>
        {% endif %}

        <select name="{{ name }}" id="{{ name }}">
            {% for key, value in options.items() %}
                <option
                        value="{{ key }}"
                        {%- if selected == key -%}selected="selected"{%- endif -%}
                >
                    {{ value }}
                </option>
            {% endfor %}
        </select>
    </div>
{% endmacro %}

{# ------------------ #}
