<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block _title %} {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('structure_css', structure=structure, filename='milligram.css') }}">
    <link rel="stylesheet" href="{{ url_for('structure_css', structure=structure, filename='normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('structure_css', structure=structure, filename='main.css') }}">
    <link rel="stylesheet" href="{{ url_for('structure_css', structure=structure, filename='form_structure.css') }}">
</head>

<body>
    {% if error %}
        <div class="error" id="error">
            {{ error }}
            <a class="button button-small" href="#" id="close_error" onclick="parentNode.remove()">
            Close
            </a>
        </div>
    {% endif %}
{% block _global %}
    <div class="global-container">

        <div class="top-bar">
            <div>
                <img src="{{ url_for('structure_img', structure=structure, filename='Flask-Launchpad.png') }}"
                     height="80px"
                     style="padding: 10px">
            </div>
            <div>{{ "Flask-Launchpad"|version }}</div>
        </div>

        <div class="flex-container">

            <div class="flex-menu">
                <span>Account</span>
                <a href="{{ url_for("account.dashboard") }}">Dashboard</a>
                <a href="{{ url_for("account.settings") }}">Settings</a>
                <a href="{{ url_for("account.logout") }}">Logout</a>
                <span>Administrator</span>
                <a href="{{ url_for("administrator.users") }}">Users</a>
                <a href="{{ url_for("administrator.groups") }}">Groups</a>
                <span>System</span>
                <a href="{{ url_for("system.endpoints") }}">Endpoints</a>
                <a href="{{ url_for("system.database") }}">Database</a>
            </div>

            <div class="flex-content">
                <div class="container">
                    {% block _container %}
                    {% endblock %}
                </div>
            </div>
        </div>
        {% include "structures/fl_default/includes/footer.html" %}
    </div>
{% endblock %}
<script src="{{ url_for('structure_js', structure=structure, filename='main.js') }}"></script>
</body>
</html>
