<div style="display: flex; flex-direction: row; align-items: center;
            justify-content: start; gap: 2rem; margin-bottom: 2rem;">
    <img style="border-radius: 50%"
         src="{{ url_for('www.static', filename='img/flask-imp-logo.png') }}" alt="flask-imp logo">
    <h1 style="font-size: 4rem;">Flask-Imp</h1>
</div>
<div style="margin-bottom: 2rem;">
    <p>This is the header, located here: <code>[app_root]/blueprints/www/templates/www/includes/header.html</code></p>
    <p>It's being imported in the <code>[app_root]/blueprints/www/templates/www/extends/main.html</code> template.</p>
</div>
