{% extends extend %}
{% import 'macros/forms/input.jinja' as input %}
{% import 'macros/forms/button.jinja' as button %}
{% import 'macros/forms/select.jinja' as select %}

{% block _title %}
    Administrator | Companies
{% endblock %}

{% block _container %}
    <form method="post">
        <div class="action-box">
            <div class="form-container-inline">
                {{ input.input(
div=True,
type="text",
label="Name",
name="name",
class="input-small",
placeholder="",
required=True,
value="",
autocomplete=False,
read_only=False,
disabled=False
)|deco }}

                {{ button.submit(name="add_company", value="Add Company", class="button-100") }}
            </div>
        </div>
    </form>

    <table>
        <thead>
        <tr>
            <th>Company ID</th>
            <th>Name</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        {% for company_id, company_info in all_companies.items() %}
            <tr>
                <td>{{ company_id }}</td>
                <td>{{ company_info.name }}</td>
                <td>
                    <div class="table-buttons">

{% if company_info.name != "__system__" %}
{% set company_delete_show = "javascript:showEle('company_delete_" + company_id|string + "','table-row');" %}
{% set company_delete_hide = "javascript:hideEle('company_delete_" + company_id|string + "','table-row');" %}
{{ button.submit_link(
div=False,
name="delete_company",
label="Delete",
button_type="button button-small button-danger",
link="",
onclick=company_delete_show ) }}

{% endif %}
                    </div>
                </td>
            </tr>

{% if company_info.name != "__system__" %}

            <tr id="company_delete_{{ company_id|string }}" style="display: none">
                <td colspan="100%">
                    <div class="table-row-action">
                        <div>Are you sure you want to delete this company?</div> &nbsp;
                        <div>

{{ button.submit_link(
div=False,
name="yes_delete_company",
label="Yes",
button_type="button button-small button-danger",
link=url_for("administrator.delete_company", company_id=company_id),
onclick="" ) }}

                        </div>
                        <div>

{{ button.submit_link(
div=False,
name="no_delete_company",
label="No",
button_type="button button-small",
link="",
onclick=company_delete_hide ) }}

                        </div>
                    </div>
                </td>
            </tr>

{% endif %}

        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block _footer %}

{% endblock %}