{% extends extend %}
{% import 'macros/forms/input.jinja' as input %}
{% import 'macros/forms/button.jinja' as button %}
{% import 'macros/forms/select.jinja' as select %}

{% block _title %}
    Administrator | Groups
{% endblock %}

{% block _container %}
    <form method="post">
        <div class="action-box">
            <div class="form-container-inline">
                {{ input.input(
div=True,
type="text",
label="Name",
name="group_name",
class="input-small",
placeholder="",
required=True,
value="",
autocomplete=False,
read_only=False,
disabled=False
)|deco }}

                {{ input.input(
div=True,
type="text",
label="Custom Type",
name="group_type",
class="input-small",
placeholder="",
required=True,
value="",
autocomplete=False,
read_only=False,
disabled=False
)|deco }}

                {{ button.submit(name="add_group", value="Add Group", class="button-100") }}
            </div>
        </div>
    </form>

    <table>
        <thead>
        <tr>
            <th>Group ID</th>
            <th>Name</th>
            <th>Type</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        {% for group, values in all_groups.items() %}
            <tr>
                <td>{{ group }}</td>
                <td>{{ values.group_name }}</td>
                <td>{{ values.group_type }}</td>
                <td>
                    <div class="table-buttons">

{% if values.group_type != "system" %}

{% set group_delete_show = "javascript:showEle('group_delete_" + group|string + "','table-row');" %}
{% set group_delete_hide = "javascript:hideEle('group_delete_" + group|string + "','table-row');" %}
{{ button.submit_link(
div=False,
name="delete_user",
label="Delete",
button_type="button button-small button-danger",
link="",
onclick=group_delete_show ) }}

{% endif %}
                    </div>
                </td>
            </tr>

{% if values.group_type != "system" %}

            <tr id="group_delete_{{ group|string }}" style="display: none">
                <td colspan="100%">
                    <div class="table-row-action">
                        <div>Are you sure you want to delete this group?</div> &nbsp;
                        <div>

{{ button.submit_link(
div=False,
name="yes_delete_group",
label="Yes",
button_type="button button-small button-danger",
link=url_for("administrator.delete_group", group_id=group),
onclick="" ) }}

                        </div>
                        <div>

{{ button.submit_link(
div=False,
name="no_delete_group",
label="No",
button_type="button button-small",
link="",
onclick=group_delete_hide ) }}

                        </div>
                    </div>
                </td>
            </tr>

{% endif %}

        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block _footer %}

{% endblock %}