{% extends extend %}
{% import 'macros/forms/input.jinja' as input %}
{% import 'macros/forms/button.jinja' as button %}
{% import 'macros/forms/select.jinja' as select %}

{% block _title %}
    Administrator | Permissions
{% endblock %}

{% block _container %}
    <form method="post">
        <div class="action-box">
            <div class="form-container-inline">
                {{ input.input(
div=True,
type="text",
label="Name",
name="name",
class="input-small",
placeholder="",
required=True,
value="",
autocomplete=False,
read_only=False,
disabled=False
)|deco }}

                {{ input.input(
div=True,
type="text",
label="Custom Type",
name="type",
class="input-small",
placeholder="",
required=True,
value="",
autocomplete=False,
read_only=False,
disabled=False
)|deco }}

                {{ button.submit(name="add_permission", value="Add Permission", class="button-100") }}
            </div>
        </div>
    </form>

    <table>
        <thead>
        <tr>
            <th>Permission ID</th>
            <th>Name</th>
            <th>Type</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        {% for permission, values in all_permissions.items() %}
            <tr>
                <td>{{ permission }}</td>
                <td>{{ values.name }}</td>
                <td>{{ values.type }}</td>
                <td>
                    <div class="table-buttons">

{% if values.type != "system" %}
{% set permission_delete_show = "javascript:showEle('permission_delete_" + permission|string + "','table-row');" %}
{% set permission_delete_hide = "javascript:hideEle('permission_delete_" + permission|string + "','table-row');" %}
{{ button.submit_link(
div=False,
name="delete_permission",
label="Delete",
button_type="button button-small button-danger",
link="",
onclick=permission_delete_show ) }}

{% endif %}
                    </div>
                </td>
            </tr>

{% if values.type != "system" %}

            <tr id="permission_delete_{{ permission|string }}" style="display: none">
                <td colspan="100%">
                    <div class="table-row-action">
                        <div>Are you sure you want to delete this permission?</div> &nbsp;
                        <div>

{{ button.submit_link(
div=False,
name="yes_delete_permission",
label="Yes",
button_type="button button-small button-danger",
link=url_for("administrator.delete_permission", permission_id=permission),
onclick="" ) }}

                        </div>
                        <div>

{{ button.submit_link(
div=False,
name="no_delete_permission",
label="No",
button_type="button button-small",
link="",
onclick=permission_delete_hide ) }}

                        </div>
                    </div>
                </td>
            </tr>

{% endif %}

        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block _footer %}

{% endblock %}