<p>

    <a href="{{ url_for('example_blueprint.app_models') }}">App Models</a> -
    <a href="{{ url_for('example_blueprint.app_url_map') }}">App URL Map</a> -
    <a href="{{ url_for('example_blueprint.database_example') }}">Database Example</a> -

</p>
