{% extends 'nested/extends/main.html' %}

{% block content %}
    <div style="display: flex; flex-direction: row; align-items: center; gap: 2rem; margin-bottom: 2rem;">
        <div>
            <h2 style="margin: 0;">Blueprint: nested</h2>
            <h3>Here's your new blueprint.</h3>
            <p>Located here: <code>/Users/david/PycharmProjects/flask-imp/app/blueprints/www/nested</code></p>
            <p style="margin-bottom: 0;">Remember to double-check the config.toml file.</p>
        </div>
    </div>
{% endblock %}
