<div class="text-center">
<p>

    <a href="{{ url_for('example.app_models') }}">App Models</a> -
    <a href="{{ url_for('example.app_url_map') }}">App URL Map</a> -
    <a href="{{ url_for('example.database_example') }}">Database Example</a> -
    <a href="{{ url_for('example.auth_example') }}">Auth Example</a> -

</p>
</div>