<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block _title %} {% endblock %}</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('fl_default.static', filename='css/custom.css') }}">
</head>

<body>

{% block _global %}
    <div class="d-flex align-items-center justify-content-center w-100 h-100">
        <div class="window">
            {% block _container %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
<script src="{{ url_for('fl_default.static', filename='js/main.js') }}"></script>
</body>
</html>
