<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block _title %} {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('fl_default.static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('fl_default.static', filename='css/bootstrap-utilities.css') }}">
    <link rel="stylesheet" href="{{ url_for('fl_default.static', filename='css/custom.css') }}">
</head>

<body>

{% block _global %}
    <div class="d-flex align-items-center justify-content-center w-100 h-100">
        <div class="window">
            {% block _container %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
<script src="{{ url_for('fl_default.static', filename='js/main.js') }}"></script>
</body>
</html>
