<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Flask Launchpad</title>
    <link rel="stylesheet" href="{{ url_for('structure_css', theme=set_theme, filename='milligram.css') }}">
    <link rel="stylesheet" href="{{ url_for('structure_css', theme=set_theme, filename='normalize.css') }}">
</head>

<body>
{% block content %}
    Template Not Loading.
{% endblock content %}

<script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
