
<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Flask Launchpad</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    </head>

    <body>
        {% block page_content %}
            Template Not Loading.
        {% endblock page_content %}

        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </body>
</html>
        