{% extends extend %}
{% import 'macros/forms/input.jinja' as input %}
{% import 'macros/forms/button.jinja' as button %}
{% import 'macros/forms/select.jinja' as select %}

{% block _title %}
    Administrator | Users
{% endblock %}

{% block _container %}
    <div class="flex-container">
        {{ button.submit_link(
div=True,
name="back_to_users",
label="< Back",
button_type="button button-outline",
link=url_for('administrator.users'),
onclick="" ) }}
    </div>

    <form method="post" class="no-margin">
        <div class="form-container-inline">

            {{ input.input(
div=True,
type="text",
label="Username",
name="username",
class="",
placeholder="",
required=True,
value=user.username,
autocomplete=False,
read_only=False,
disabled=False
)|deco }}

            {{ input.input(
div=True,
type="password",
label="New Password",
name="new_password",
class="",
placeholder="Leave blank to change username",
required=False,
value="",
autocomplete=False,
read_only=False,
disabled=False
)|deco }}
            {{ button.submit(div=True, name="update_user", value="Upadte User", class="button-100") }}

        </div>
    </form>

    <div class="form-container">
        <div class="form-element"></div>
        <div class="form-container-no-stretch">

            {% if user.disabled %}

                <div class="user-disabled">Login Disabled</div>

                {{ button.submit_link(
div=True,
name="enable_user",
label="Enable",
button_type="button",
link=url_for('administrator.enable_user', user_id=user.user_id),
onclick="" ) }}

            {% else %}

                <div class="user-enabled">Login Enabled</div>

                {{ button.submit_link(
div=True,
name="disable_user",
label="Disable",
button_type="button",
link=url_for('administrator.disable_user', user_id=user.user_id),
onclick="" ) }}

            {% endif %}

        </div>
        <div class="form-element"></div>
    </div>


    <div class="flex-container-inline">
        <form method="post" class="no-margin width-100p">
            <div class="form-container">
                {% set add_permissions_disabled = False %}
                {% if not all_permissions %}
                    {% set all_permissions, add_permissions_disabled = {"no_permissions": "No More Permissions Available"}, True %}
                {% endif %}

                {{ select.input_select_dict(div=True, label="Permissions", name="permission_id", options=all_permissions) }}

                {{ button.submit(name="add_permission", value="Add User to Permission", class="", disabled=add_permissions_disabled) }}
            </div>
        </form>

        <div class="form-element width-100p">
            <label>Has Permissions</label>
            {% for perm_name, perm_id in user.permissions.items() %}
                <div class="group-box">
                    <span>{{ perm_name }}</span>
                    {{ button.submit_link(
div=False,
name="delete_permission_from_user",
label="Delete",
button_type="button button-danger button-small",
link=url_for('administrator.delete_permission_from_user', user_id=user.user_id, permission_id=perm_id),
onclick="" ) }}
                </div>
            {% endfor %}
        </div>

    </div>

    <div class="flex-container-inline">
        <form method="post" class="no-margin width-100p">
            <div class="form-container">
                {% set add_company_disabled = False %}
                {% if not available_companies %}
                    {% set available_companies, add_company_disabled = {"no_companies": "No More Companies Available"}, True %}
                {% endif %}

                {{ select.input_select_dict(div=True, label="Companies", name="company_id", options=available_companies) }}

                {{ button.submit(name="add_company", value="Add User to Company", class="", disabled=add_company_disabled) }}
            </div>
        </form>

        <div class="form-element width-100p">
            <label>In Company</label>
            {% for company_name, company_id in user.companies.items() %}
                <div class="group-box">
                    <span>{{ company_name }}</span>
                    {{ button.submit_link(
div=False,
name="delete_company_from_user",
label="Delete",
button_type="button button-danger button-small",
link=url_for('administrator.delete_company_from_user', user_id=user.user_id, company_id=company_id),
onclick="" ) }}
                </div>
            {% endfor %}
        </div>

    </div>
{% endblock %}

{% block _footer %}

{% endblock %}