{% extends extend %}

{% block _title %}
    Flask-BigApp - App Models
{% endblock %}

{% block _container %}
    <h2>App Models</h2>

    <div class="p-2">
        {% for key, value in models.items() %}
            <p><strong>{{ key }} : {{ value }}</strong></p>
        {% endfor %}
    </div>

    <p> These are accessible via the <code>bigapp.model_class()</code> method</p>

    <strong>Example</strong>
    <pre>
        <code>table = bigapp.model_class("class_name")</code>
        <code>query_results = table.query.all()</code>
    </pre>
    <p>See <code>database_example.py</code> for a working example.</p>

    {% include footer %}
{% endblock %}
